/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

/* Resetting with Normalize */
@import './normalize.css';

/* Apply universal font */
* { font-family: 'Lato', sans-serif; }

/* 
  Color Palette Credit
  https://www.colourlovers.com/palette/4789656/
*/
:root {
  --cream: #FFF7F0;
  --yellow: #F4C833;
  --blue: #0395D0;
  --red: #D31716;
  --black: #12090A;
  --gray: #FFFDFC;
}

/* Making images responsive */
img { width: 100%; }

/* Body Tag Styles */
body {
  background-color: var(--cream);
  color: var(--black);
  margin: 0;
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
}

/* BEGIN HEADER STYLES */
header {
  margin: 2vh auto;
  width: 95%;
}

header > h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 2%;
  border-left: 20px solid var(--black);
}

header > h1:hover {
  background-color: var(--yellow);
}

header > h2 > ul {
  width: 30%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-evenly;
  list-style-type: none;
}

header > h2 > ul > li {
  padding: 20px;
  margin: 10px;
  color: var(--cream);
}

header > h2 > ul > li {
  color: var(--blue);
  text-decoration: none;
}

header > h2 > ul > li:hover,
header > h2 > ul > li:active,
header > h2 > ul > li > *:hover,
header > h2 > ul > li > *:active {
  background: var(--red);
  color: var(--cream);
  text-decoration: uppercase;
}

header > h2 > ul > li > a {
  color: inherit;
  text-decoration: none;
}
/* END HEADER STYLES */

/* BEGIN MAIN STYLES */
main {
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

#blurb {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#blurb > img {
  width: 40%;
  border-radius: 50%;
}

#blurb > aside {
  margin: auto;
  text-align: justify;
  padding: 2%;
  font-size: x-large;
}

#blurb > aside > h2 {
  font-weight: 900;
  text-align: right;
  padding: 2%;
  border-right: 20px solid var(--black);
  text-transform: uppercase;
  font-size: xx-large;
}


#blurb > aside > h2:hover {
  background-color: var(--yellow);
}

/* END MAIN STYLES */

/* BEGIN GALLERY SECTION STYLES */
section#gallery {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 23%;
  margin: 4vh 0.5vw;
  justify-content: space-evenly;
}

figure > img {
  width: 100%;
}

figure > figcaption::before {
  content: 'Project ';
}

figure > figcaption {
  font-size: xx-large;
}
/* END GALLERY SECTION STYLES */

/* BEGIN FOOTER STYLES */
footer {
  background-color: var(--black);
  color: var(--cream);
  width: 100%;
  margin-top: 10vh;
  margin: 0 auto;
}

footer > ul {
  padding-inline-start: 0;
}
/* END FOOTER STYLES */

